@model IEnumerable<WebClient.ViewModels.SalesReportViewModel>

@{
    ViewData["Title"] = "Report_Filter";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    var message = TempData["period"] as string;
    var tottalRevenue = TempData["tottalRevenue"] as string;
}

<h1>Report</h1>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 0px" class="white-box">
                        <div class="container">
                            <div style="display: flex; align-items: center" class="row">
                                <div class="col-md-6">
                                    <h4  class="">@message</h4>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a asp-action="Report_Index" asp-controller="Staff" style="margin-left: 318px; background-color: #538a50" class="btn text-white">
                                        Back to List
                                    </a>
                                </div>
                            </div>
                            <div class="h3 text-success box-title" style="font-size: 30px">
                                @tottalRevenue
                            </div>
                        </div>

                        <p class="text-muted"></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Meal/Food
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderDetail.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderDetail.UnitPrice)
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Payment Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDetail.OrderDetailId)
                                        </td>
                                        @if (item.OrderDetail.Product == null)
                                        {
                                            <td>
                                                <img src="@item.OrderDetail.Meal.MealImage" style="height:100px; width:100px;">
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDetail.Meal.MealName)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <img src="@item.OrderDetail.Product.ProductImage" style="height:100px; width:100px;">
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDetail.Product.ProductName)
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDetail.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDetail.UnitPrice)
                                        </td>
                                        <td>
                                            @{
                                                var total = item.OrderDetail.Quantity * item.OrderDetail.UnitPrice;
                                            }
                                            @total.ToString("0.00")
                                        </td>
                                        <td>
                                            @{
                                                var date = item.Order.ShipDate.Value.Date.ToString("dd/MM/yyyy");
                                            }
                                            @date
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Order.Status)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>