@model BusinessObject.Models.Product

<div class="grid-item-meal">
    <a class="a-text-link" asp-route-code="@Model.ProductCode" asp-area="" asp-controller="Home" asp-action="Detail">
        <div class="item-image">
            <img src="@Model.ProductImage" alt="@Model.ProductName" />
        </div>
        <div class="item-details">
            <h5>@Model.ProductName</h5>
            <p>
                <i class="fa-solid fa-dollar-sign"></i>
                @Model.Price.ToString("0.00")
            </p>
        </div>
    </a>
    <button class="button-atc">
        <span>Add to cart</span>
        <div class="cart">
            <svg viewBox="0 0 36 26">
                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
            </svg>
        </div>
    </button>
</div>
