@model WebClient.ViewModels.DetailPMViewModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}


<div class="container-body page-container">
    @Html.Partial("_BreadCrumb")
    <div class="container-product-detail">
        <div class="product-detail-img">
            @if (Model.Product != null)
            {
                <img src="@Model.Product.ProductImage" />
            }
            else
            {
                <img src="@Model.Meal.MealImage" />
            }
        </div>
        <div class="hero-product-detail">
            <div class="product-detail-content">
                @if (Model.Product != null)
                {
                    <h2>@Model.Product.ProductName</h2>
                    <p>
                        <i class="fa-solid fa-dollar-sign"></i>
                        @Model.Product.Price.ToString("0.00")
                    </p>
                    <p>SKU: @Model.Product.ProductCode</p>
                    <p>@Model.Product.Description</p>
                }
                else
                {
                    <h2>@Model.Meal.MealName</h2>
                    <p>
                        <i class="fa-solid fa-dollar-sign"></i>
                        @Model.Meal.Price.ToString("0.00")
                    </p>
                    <p>SKU: @Model.Meal.MealCode</p>
                    <p>@Model.Meal.MealDescription</p>
                }
            </div>
            <div class="hero-product-detail-atc-btn">
                @if (Model.Meal != null && Model.Meal.QuantityAvailable > 0)
                {
                    <div class="hero-btn-plus-minus">
                        <button class="btn-plus-minus detail-btn-minus">-</button>
                        <input class="btn-plus-minus-count" id="quantityInput" type="number" min="1" max="1000" required value="1" />
                        <button class="btn-plus-minus detail-btn-plus">+</button>
                    </div>
                    <button class="product-detail-atc-btn" role="button" data-code="@Model.Meal.MealCode">ADD TO CART</button>
                }
                else if (Model.Product != null && Model.Product.QuantityAvailable > 0)
                {
                    <div class="hero-btn-plus-minus">
                        <button class="btn-plus-minus detail-btn-minus">-</button>
                        <input class="btn-plus-minus-count" id="quantityInput" type="number" min="1" max="1000" required value="1" />
                        <button class="btn-plus-minus detail-btn-plus">+</button>
                    </div>
                    <button class="product-detail-atc-btn" role="button" data-code="@Model.Product?.ProductCode">ADD TO CART</button>
                }else{
                    <div class="out-of-stock">
                        <p>Out of stock</p>
                    </div>
                }
            </div>

            <div class="d-flex flex-column gap-3">
                @if (Model.Meal != null)
                {
                    <div class="line"></div>
                    <div class="text-ingredient">
                        <p>
                            INCLUDING
                        </p>
                    </div>
                    <div class="list-item-ingredient">
                        @foreach (var item in Model.ProductIngredients)
                        {
                            var mealProduct = Model.MealProducts.Where(mp => mp.ProductId == item.ProductId).SingleOrDefault();
                            <a asp-route-code="@item.ProductCode" asp-area="" asp-controller="Home" asp-action="Detail" class="item-ingredient">
                                <p>@item.ProductName x@(mealProduct.QuantityRequired)</p>
                            </a>
                        }
                    </div>
                }
                <div class="line"></div>
                <div class="text-ingredient">
                    <p>
                        SUITABLE FOR BIRDS
                    </p>
                </div>
                <div class="list-item-ingredient">
                    @foreach (var item in Model.Birds)
                    {
                        <div class="item-ingredient">
                            <p>@item.BirdName</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="container-body page-container">
    <div class="product-detail-under-container">
        <div class="item-text-detail">
            <p>YOU MAY ALSO LIKE</p>
        </div>
        <div class="grid-view-detail">
            @if (Model.Meals != null)
            {
                @foreach (var item in Model.Meals.Take(3).ToList())
                {
                    @Html.Partial("_ListMeal", item)
                }
            }
            else
            {
                @foreach (var item in Model.Products.Take(3).ToList())
                {
                    @Html.Partial("_ListProduct", item)
                }
            }
        </div>
    </div>
</div>


