@model WebClient.ViewModels.FoodViewModel

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}

<div class="container-body page-container">
    @Html.Partial("_BreadCrumb")
    <div class="best_seller-container">
        <div class="hero-content">
            <div class="item-text-page">
                <p>Food</p>
            </div>
            <div class="desc-text">
                <p>
                    We take pride in offering a wide selection of high-quality bird food to cater to the discerning palates of
                    your beloved pet birds. Our carefully curated collection includes a diverse range of nutritious options,
                    including a variety of seeds, specially formulated bird pellets, and delectable treats.
                </p>
            </div>
            @Html.Partial("_TopContainer")
        </div>
        <div class="grid-view-meal">
            @foreach (var item in Model.Products)
            {
                <div class="grid-item-meal">
                    <a class="a-text-link" asp-area="" asp-controller="Home" asp-action="Detail">
                        <div class="item-image">
                            <img src="@item.ProductImage" alt="@item.ProductName" />
                        </div>
                        <div class="item-details">
                            <h5>@item.ProductName</h5>
                            <p>$@item.Price.ToString("#,##0")</p>
                        </div>                    
                    </a>
                    <button class="button">
                        <span>Add to cart</span>
                        <div class="cart">
                            <svg viewBox="0 0 36 26">
                                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
</div>