@model BusinessObject.Models.Meal

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MealId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
