@model WebClient.ViewModels.DetailPMViewModel
@{
    ViewData["Title"] = "Detail Bird Meal";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 0px" class="white-box">
                        <div class="container">
                            <div style="display: flex; align-items: center" class="row">
                                <div class="col-md-6">
                                    <h3 style="font-size: 30px" class="box-title">Create Meal</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a asp-action="Meal_Index" asp-controller="Staff" style="margin-left: 318px; background-color: #538a50" class="btn text-white">
                                        Back to List
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="container-body page-container">
                            @Html.Partial("_BreadCrumb")
                            <div class="container-product-detail">
                                <div class="product-detail-img">
                                    @if (Model.Product != null)
                                    {
                                        <img src="@Model.Product.ProductImage" />
                                    }
                                    else
                                    {
                                        <img src="@Model.Meal.MealImage" />
                                    }
                                </div>
                                <div class="hero-product-detail">
                                    <div class="product-detail-content">
                                        @if (Model.Product != null)
                                        {
                                            <h2>@Model.Product.ProductName</h2>
                                            <p>
                                                <i class="fa-solid fa-dollar-sign"></i>
                                                @Model.Product.Price.ToString("0.00")
                                            </p>
                                            <p>SKU: @Model.Product.ProductCode</p>
                                            <p>@Model.Product.Description</p>
                                        }
                                        else
                                        {
                                            <h2>@Model.Meal.MealName</h2>
                                            <p>
                                                <i class="fa-solid fa-dollar-sign"></i>
                                                @Model.Meal.Price.ToString("0.00")
                                            </p>
                                            <p>SKU: @Model.Meal.MealCode</p>
                                            <p>@Model.Meal.MealDescription</p>
                                        }
                                    </div>
                                    <div class="hero-product-detail-atc-btn">
                                        <div class="hero-btn-plus-minus">
                                            <button class="btn-plus-minus">-</button>
                                            <input class="btn-plus-minus-count" type="number" required value="1" />
                                            <button class="btn-plus-minus">+</button>
                                        </div>
                                        <button class="product-detail-atc-btn" role="button">ADD TO CART</button>
                                    </div>

                                    <div class="d-flex flex-column gap-3">
                                        @if (Model.Meal != null)
                                        {
                                            <div class="line"></div>
                                            <div class="text-ingredient">
                                                <p>
                                                    INCLUDING
                                                </p>
                                            </div>
                                            <div class="list-item-ingredient">
                                                @foreach (var item in Model.ProductIngredients)
                                                {
                                                    <a asp-route-code="@item.ProductCode" asp-area="" asp-controller="Home" asp-action="Detail" class="item-ingredient">
                                                        <p>@item.ProductName</p>
                                                    </a>
                                                }
                                            </div>
                                        }
                                        <div class="line"></div>
                                        <div class="text-ingredient">
                                            <p>
                                                SUITABLE FOR BIRDS
                                            </p>
                                        </div>
                                        <div class="list-item-ingredient">
                                            @foreach (var item in Model.Birds)
                                            {
                                                <div class="item-ingredient">
                                                    <p>@item.BirdName</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>