@model IEnumerable<BusinessObject.Models.Meal>

@{
    ViewData["Title"] = "Meal_Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 0px" class="white-box">
                        <div class="container">
                            <div style="display: flex; align-items: center" class="row">
                                <div class="col-md-6">
                                    <h3 style="font-size: 30px" class="box-title">Meal</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a asp-action="Create" asp-controller="Meal" style="margin-left: 318px; background-color: #538a50" class="btn text-white">
                                        Create new meal
                                    </a>
                                </div>
                            </div>
                        </div>

                        <p class="text-muted"></p>
                        <div id="notification" class="alert" style="display: none;"></div>
                        <!-- Modal HTML -->
                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header flex-column">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE5CD;</i>
                                        </div>
                                        <h4 class="modal-title w-100">Are you sure?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>If this meal is in order, it will be changed status</p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteMeal()">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" style="height: 490px; overflow-y: scroll;">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.MealCode)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.MealImage)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.MealName)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.QuantityAvailable)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.MealStatus)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold; text-align: center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.MealId">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MealCode)
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(item.MealImage))
                                                {
                                                    <img class="product-img" src="~/Admin/plugins/images/no-image.png" width="100" height="100" />
                                                }
                                                else
                                                {
                                                    <img class="product-img" src="@item.MealImage" width="100" height="100" />
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MealName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.QuantityAvailable)
                                            </td>
                                            <td>
                                                <div class="checkbox-wrapper-5">
                                                    <div class="check">
                                                        <input id="check-@item.MealId" type="checkbox" @(item.MealStatus == 1 ? "checked" : "") onchange="toggleMealStatus(this, @item.MealId)">
                                                        <label class="labelCheck" for="check-@item.MealId"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="option">
                                                <div class="dropdown">
                                                    <div onclick="toggleDropdown(this)">
                                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <a asp-action="Edit" asp-route-id="@item.MealId" asp-controller="Meal"><i class="fa-solid fa-pen pe-2"></i>Edit</a>
                                                        <a asp-action="Details" asp-controller="Meal" asp-route-mealId="@item.MealId"><i class="fa-solid fa-circle-info pe-2"></i>Details</a>
                                                        <a onclick="setMealIdToDelete(@item.MealId)" data-target="#myModal" data-toggle="modal" class="delete-link"><i class="fa-solid fa-trash pe-2"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
</style>


@section scripts {
    <script>
        var activeDropdown = null;

        function toggleDropdown(dots) {
            var dropdownContent = dots.nextElementSibling;
            if (activeDropdown !== dropdownContent) {
                closeActiveDropdown();
                dropdownContent.style.display = 'block';
                activeDropdown = dropdownContent;
            } else {
                closeActiveDropdown();
            }
        }

        function closeActiveDropdown() {
            if (activeDropdown) {
                activeDropdown.style.display = 'none';
                activeDropdown = null;
            }
        }

        document.addEventListener('click', function (event) {
            var targetElement = event.target;
            if (!targetElement.closest('.dropdown')) {
                closeActiveDropdown();
            }
        });

        function toggleMealStatus(checkbox, mealId) {
            $.ajax({
                url: "https://localhost:7022/api/Meal/ChangeStatus/" + mealId,
                type: "put",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }
        var mealIdToDelete;
        function setMealIdToDelete(mealId) {
            mealIdToDelete = mealId;
        }
        function deleteMeal() {
            if (mealIdToDelete) {
                $.ajax({
                    url: "https://localhost:7022/api/Meal/" + mealIdToDelete,
                    type: "delete",
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (result) {
                        $("#notification").removeClass("alert-danger").addClass("alert-success");
                        $("#notification").text("Delete successfully.").show().delay(3000).fadeOut();
                        $('tr[data-id="' + mealIdToDelete + '"]').remove();
                    },
                    error: function (xhr) {
                        $("#notification").removeClass("alert-success").addClass("alert-danger");
                        $("#notification").text("Error delete. Please try again.").show().delay(3000).fadeOut();
                        console.log(xhr)
                    }
                });
            }
        }
    </script>
}