@model IEnumerable<BusinessObject.Models.Product>

@{
    ViewData["Title"] = "Product_Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    var token = Context.Session.GetString("token");
}

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 0px" class="white-box">
                        <div class="container">
                            <div style="display: flex; align-items: center" class="row">
                                <div class="col-md-6">
                                    <h3 style="font-size: 30px" class="box-title">Product</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a asp-action="Create" asp-controller="Product" style="margin-left: 318px; background-color: #538a50" class="btn waves-effect text-white">
                                        Create new product
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="notification" class="alert" style="display: none;"></div>

                        <p class="text-muted"></p>

                        <div class="table-responsive" style="height: 490px; overflow-y: scroll;">
                            <table class="table text-nowrap">
                                <thead style=" position: sticky; top: 0;z-index: 1; background-color: lightgray;">
                                    <tr>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.ProductCode)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.ProductImage)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.ProductName)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.QuantityAvailable)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.ProductStatus)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold; text-align: center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.ProductId" class="product_list ">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductCode)
                                            </td>
                                            <td>
                                                @if (string.IsNullOrEmpty(item.ProductImage))
                                                {
                                                    <img style="border-radius: 10px" class="product-img" src="~/Admin/plugins/images/no-image.png" width="100" height="100" />
                                                }
                                                else
                                                {
                                                    <img style="border-radius: 10px" class="product-img" src="@item.ProductImage" width="100" height="100" />
                                                }
                                            </td>
                                            <td>
                                                <a class="text-dark" href="@Url.Action("Details", "Product", new { id = item.ProductId })">
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </a>
                                            </td>
                                            <td>
                                                $@Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td style="text-align: center">
                                                @Html.DisplayFor(modelItem => item.QuantityAvailable)
                                            </td>
                                            <td>
                                                <div class="checkbox-wrapper-5">
                                                    <div class="check">
                                                        <input id="check-@item.ProductId" type="checkbox" @(item.ProductStatus == BusinessObject.Enums.ProductStatus.Available ? "checked" : "") onchange="toggleProductStatus(this, @item.ProductId)">
                                                        <label class="labelCheck" for="check-@item.ProductId"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="option">
                                                <div class="dropdown">
                                                    <div onclick="toggleDropdown(this)">
                                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.ProductId"><i class="fa-solid fa-pen pe-2"></i>Edit</a>
                                                        <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId"><i class="fa-solid fa-circle-info pe-2"></i>Details</a>
                                                        <a data-product-id="@item.ProductId" onclick="showDeleteConfirmation(this)" class="delete-link"><i class="fa-solid fa-trash pe-2"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this product? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBtn">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    var activeDropdown = null;

    function toggleDropdown(dots) {
        var dropdownContent = dots.nextElementSibling;
        if (activeDropdown !== dropdownContent) {
            closeActiveDropdown();
            dropdownContent.style.display = 'block';
            activeDropdown = dropdownContent;
        } else {
            closeActiveDropdown();
        }
    }

    function closeActiveDropdown() {
        if (activeDropdown) {
            activeDropdown.style.display = 'none';
            activeDropdown = null;
        }
    }

    document.addEventListener('click', function (event) {
        var targetElement = event.target;
        if (!targetElement.closest('.dropdown')) {
            closeActiveDropdown();
        }
    });

    function toggleProductStatus(checkbox, productId) {
            $.ajax({
                url: "https://localhost:7022/api/Product/changeStatus/" + productId,
                type: "put",
                headers: {
                    "Authorization": "Bearer " + "@token"
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }

    var deleteProductId;
    function showDeleteConfirmation(element) {
        deleteProductId = element.dataset.productId;
        $('#myModal').modal('show');
    }

    $('#confirmDeleteBtn').click(function () {
        $('#myModal').modal('hide');
        $.ajax({
            url: 'https://localhost:7022/api/Product/' + deleteProductId,
            type: 'DELETE',
                headers: {
                    "Authorization": "Bearer " + "@token"
                },
            success: function () {
                // Xóa sản phẩm thành công, reload lại trang
                $("#notification").removeClass("alert-danger").addClass("alert-success");
                        $("#notification").text("Delete successfully.").show().delay(3000).fadeOut();
                        $('tr[data-id="' + deleteProductId + '"]').remove();
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
                $("#notification").removeClass("alert-success").addClass("alert-danger");
                        $("#notification").text("Error delete. Please try again.").show().delay(3000).fadeOut();
            }
        });
    });

    // Function to hide the modal
    function hideModal() {
        $('#myModal').modal('hide');
    }

    // Function to show the modal
    function showModal() {
        $('#myModal').modal('show');
    }

    // Add event listeners to cancel button and close button (x)
    document.getElementById('confirmDeleteBtn').addEventListener('click', showModal);
    document.getElementById('cancelBtn').addEventListener('click', hideModal);
    document.getElementsByClassName('close')[0].addEventListener('click', hideModal);
</script>
}

<style>
    /* CSS cho cửa sổ thông báo */
    #notification {
        display: none;
    }
</style>