@model IEnumerable<BusinessObject.Models.User>

@{
    ViewData["Title"] = "User_Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-bottom: 0px" class="white-box">
                        <div class="container">
                            <div style="display: flex; align-items: center" class="row">
                                <div class="col-md-6">
                                    <h3 style="font-size: 30px" class="box-title">User</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a asp-action="CreateUser" asp-controller="User" style="margin-left: 318px; background-color: #538a50" class="btn waves-effect text-white">
                                        Create new user
                                    </a>
                                </div>
                            </div>
                        </div>

                        <p class="text-muted"></p>

                        <div class="table-responsive" style="height: 490px; overflow-y: scroll;">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="th-table" style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.Password)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold">
                                            @Html.DisplayNameFor(model => model.Role)
                                        </th>
                                        <th style="font-size: 17px; font-weight:bold; text-align: center">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Password)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                
                                                <div class="checkbox-wrapper-5">
                                                    <div class="check">
                                                        <input id="check-@item.Status" type="checkbox" @(item.Status == 1 ? "checked" : "") onchange="toggleUserStatus(this, @item.UserId)">
                                                        <label class="labelCheck" for="check-@item.Status"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                                            </td>
                                            <td class="option">
                                                <div class="dropdown">
                                                    <div onclick="toggleDropdown(this)">
                                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <a asp-action="EditUser" asp-controller="User" asp-route-id="@item.UserId"><i class="fa-solid fa-pen pe-2"></i>Edit</a>
                                                        <a asp-action="DetailUser" asp-controller="User" asp-route-id="@item.UserId"><i class="fa-solid fa-circle-info pe-2"></i>Details</a>
                                                        <a asp-action="DeleteUser" asp-controller="User" asp-route-id="@item.UserId" class="delete-link"><i class="fa-solid fa-trash pe-2"></i>Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .option {
        display: flex;
        justify-content: center
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

        .dropdown > div {
            cursor: pointer;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        right: 0;
        left: auto;
    }

        .dropdown-content a {
            display: block;
            padding: 8px 0;
            color: black; /* Màu chữ mặc định */
            transition: color 0.3s;
        }

            .dropdown-content a:hover {
                color: #538a50; /* Màu chữ khi rê chuột vào */
            }
</style>

<script>
    var activeDropdown = null;

    function toggleDropdown(dots) {
        var dropdownContent = dots.nextElementSibling;
        if (activeDropdown !== dropdownContent) {
            closeActiveDropdown();
            dropdownContent.style.display = 'block';
            activeDropdown = dropdownContent;
        } else {
            closeActiveDropdown();
        }
    }

    function closeActiveDropdown() {
        if (activeDropdown) {
            activeDropdown.style.display = 'none';
            activeDropdown = null;
        }
    }

    document.addEventListener('click', function (event) {
        var targetElement = event.target;
        if (!targetElement.closest('.dropdown')) {
            closeActiveDropdown();
        }
    });

    function toggleUserStatus(checkbox, UserlId) {
        $.ajax({
            url: "https://localhost:7022/api/User/ChangeStatus/" + UserlId,
            type: "put",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }



</script>