@model BusinessObject.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="product_detail">
    <div class="product-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image">
                    <img class="product-image" src="@Html.DisplayFor(model => model.ProductImage)" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class="product-box">
                    <div class="product-item">
                        <dl class="row product-item_field">
                            <dd class="col-sm-12">
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>
                            <dd class="col-sm-12">
                                @Html.DisplayFor(model => model.ProductCode)
                            </dd>
                            <dd class="col-sm-12">
                                <div>$</div>
                                @Html.DisplayFor(model => model.Price)
                            </dd>
                            <dd class="col-sm-12">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dd class="col-sm-12">
                                <div>There are</div>
                                @Html.DisplayFor(model => model.QuantityAvailable)
                                <div>products left</div>
                            </dd>
                            <dd class="col-sm-12">
                                <div>Status is</div>
                                @Html.DisplayFor(model => model.ProductStatus)
                            </dd>
                        </dl>
                        <div>
                            <a class = "btn btn-primary" asp-action="Edit" asp-controller = "Product" asp-route-id="@Model?.ProductId">Edit</a>
                            <a class = "btn btn-primary" asp-action="Product_Index" asp-controller = "Staff">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>