@model BusinessObject.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="product_detail">
    <div class="product-container">
        <div class="row">
            <div class="col-lg-6">
                <div class = "image">
                    <img class="product-image" src="@Html.DisplayFor(model => model.ProductImage)" />
                </div>
            </div>

            <div class="col-lg-6">
                <div class = "product-item">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProductCode)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProductCode)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProductName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProductName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.QuantityAvailable)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.QuantityAvailable)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProductStatus)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProductStatus)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .product-item{
        height: 500px;
        background-color: white;
        padding: 30px
    }
    .product_detail {
        height: 652px;
        margin-left: 240px;
        background-color: #f1f1f1;
        padding: 70px 150px 70px 100px;
    }

    .product-image {
        width: 400px;
        height: 500px;
        border-radius: 10px;
    }
    
    .image{
        display: flex;
        justify-content: left;
    }
</style>