@model WebClient.ViewModels.GetCartViewModel
@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
    var shippingAddressModel = new WebClient.ViewModels.ShippingAddressViewModel();
}

@Html.Partial("_DeliveryModal", shippingAddressModel)
<div class="container-checkout-body page-container">
    <div class="cart-container">
        <div class="hero-cart checkout-text">
            <h4>SHOPPING CART</h4>
            <div class="table-list-cart-item">
                <div class="table-cart-header">
                    <p>ITEM</p>
                    <p>PRICE</p>
                    <p>QUANTITY</p>
                    <p>SUBTOTAL</p>
                </div>
                <div class="table-cart-body">
                    @if (Model.Meals != null)
                    {
                        @foreach (var item in Model.Meals)
                        {
                            var quantity = Model.CartItems?.Where(c => c.MealId == item.MealId).Select(c => c.Quantity).SingleOrDefault();
                            <div class="cart-item">
                                <div class="cart-item-content-main">
                                    <img src="@item.MealImage" />
                                    <div class="cart-item-content">
                                        <h5>@item.MealName</h5>
                                        <p>@item.MealCode</p>
                                    </div>
                                </div>
                                <div class="cart-item-content-money">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    <p>@item.Price</p>
                                </div>
                                <div class="cart-item-content-money">
                                    <span>-</span>
                                    <input class="btn-plus-minus-count" type="number" value="@quantity" min="0" max="1000" required />
                                    <span>+</span>
                                </div>
                                <div class="cart-item-content-money">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    <p>@(item.Price * quantity)</p>
                                </div>
                            </div>
                        }
                    }
                    @if (Model.Products != null)
                    {
                        @foreach (var item in Model.Products)
                        {
                            var quantity = Model.CartItems?.Where(c => c.ProductId == item.ProductId).Select(c => c.Quantity).SingleOrDefault();
                            <div class="cart-item">
                                <div class="cart-item-content-main">
                                    <img src="@item.ProductImage" />
                                    <div class="cart-item-content">
                                        <h5>@item.ProductName</h5>
                                        <p>@item.ProductCode</p>
                                    </div>
                                </div>
                                <div class="cart-item-content-money">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    <p>@item.Price</p>
                                </div>
                                <div class="cart-item-content-money">
                                    <span>-</span>
                                    <input class="btn-plus-minus-count" type="number" value="@quantity" min="0" max="1000" required />
                                    <span>+</span>
                                </div>
                                <div class="cart-item-content-money">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    <p>@(item.Price * quantity)</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="delivery-container checkout-text">
            <h4>DELIVERY INFORMATION</h4>
            <div class="hero-delivery-table">
                <a asp-area="" asp-controller="ShippingAddress" asp-action="_DeliveryModal" id="addNewDelivery" class="add-new-delivery">+ ADD NEW</a>
                <div class="hero-shipping-address-item">
                    <div class="shipping-address-item">
                        <p>Nguyen Tan Duy</p>
                        <p>58 Đường Số 1, Trường Thọ, Thủ Đức, Thành phố Hồ Chí Minh</p>
                        <p>+84 0976436614</p>
                    </div>                  
                </div>
            </div>
            <div class="shipping-address-checkout">
                <h4>Total: $50.00</h4>
                <button class="product-detail-atc-btn checkout-btn">CHECKOUT</button>
            </div>
        </div>
    </div>
</div>