@model WebClient.ViewModels.GetCartViewModel
@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    ViewData["Title"] = "View";
}

<div id="deliveryModalContainer"></div>
<div class="container-checkout-body page-container">
    <div class="cart-container">
        <div class="cart-have-item">
            <div class="hero-cart checkout-text">
                <h4>SHOPPING CART</h4>
                <div class="table-list-cart-item">
                    <div class="table-cart-header">
                        <p>ITEM</p>
                        <p>PRICE</p>
                        <p>QUANTITY</p>
                        <p>SUBTOTAL</p>
                    </div>
                    <div class="table-cart-body">
                        @if (Model.Meals != null)
                        {
                            @foreach (var item in Model.Meals)
                            {
                                var quantity = Model.CartItems?.Where(c => c.MealId == item.MealId).Select(c => c.Quantity).SingleOrDefault();
                                <div class="cart-item" data-id="@item.MealId">
                                    <a class="cart-item-content-main" asp-route-code="@item.MealCode" asp-area="" asp-controller="Home" asp-action="Detail">
                                        <img src="@item.MealImage" />
                                        <div class="cart-item-content">
                                            <h5>@item.MealName</h5>
                                            <p>@item.MealCode</p>
                                        </div>
                                    </a>
                                    <div class="cart-item-content-money">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                        <p id="itemPrice">@item.Price</p>
                                    </div>
                                    <div class="cart-item-content-money">
                                        <button class="button-minus-checkout">-</button>
                                        <input class="btn-plus-minus-count-checkout" type="number" value="@quantity" min="1" max="1000" required />
                                        <button class="button-plus-checkout">+</button>
                                    </div>
                                    <div class="cart-item-content-money">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                        <p id="itemSubPrice">@(item.Price * quantity)</p>
                                    </div>
                                    <div class="cart-item-remove-text">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </div>
                                </div>
                            }
                        }
                        @if (Model.Products != null)
                        {
                            @foreach (var item in Model.Products)
                            {
                                var quantity = Model.CartItems?.Where(c => c.ProductId == item.ProductId).Select(c => c.Quantity).SingleOrDefault();
                                <div class="cart-item" data-id="@item.ProductId">
                                    <a class="cart-item-content-main" asp-route-code="@item.ProductCode" asp-area="" asp-controller="Home" asp-action="Detail">
                                        <img src="@item.ProductImage" />
                                        <div class="cart-item-content">
                                            <h5>@item.ProductName</h5>
                                            <p>@item.ProductCode</p>
                                        </div>
                                    </a>
                                    <div class="cart-item-content-money">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                        <p id="itemPrice">@item.Price</p>
                                    </div>
                                    <div class="cart-item-content-money">
                                        <button class="button-minus-checkout">-</button>
                                        <input class="btn-plus-minus-count-checkout" type="number" value="@quantity" min="0" max="1000" required />
                                        <button class="button-plus-checkout">+</button>
                                    </div>
                                    <div class="cart-item-content-money">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                        <p id="itemSubPrice">@(item.Price * quantity)</p>
                                    </div>
                                    <div class="cart-item-remove-text">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="delivery-container checkout-text">
                <h4>DELIVERY INFORMATION</h4>
                <div class="hero-delivery-table">
                    <a href="#" id="addNewDelivery" class="add-new-delivery">+ ADD NEW</a>
                    @if (Model.ShippingAddresses != null)
                    {
                        @foreach (var item in Model.ShippingAddresses)
                        {
                            <div class="hero-shipping-address-item">
                                <input type="radio" class="delivery-radio" name="selectedAddress" value="@item.ShippingAddressId" />
                                <div class="shipping-address-item">
                                    <p>@item.FullName</p>
                                    <p>@item.StreetAddress, @item.Ward, @item.District, @item.City</p>
                                    <p>+84 @item.PhoneNumber</p>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="shipping-address-checkout">
                    <h4>Total: <span id="totalAmount">$0.00</span></h4>
                    <button class="checkout-btn">COMPLETE ORDER</button>
                </div>
            </div>
        </div>
        <div class="cart-img-empty">
            <img src="https://firebasestorage.googleapis.com/v0/b/groupprojectprn.appspot.com/o/home-images%2FSeekPng.com_cart-png_1170538.png?alt=media&token=813d40b4-0528-4ad0-b3b0-742142d53e71" />
        </div>
    </div>

    <div id="modalDeleteItemCart" class="modal-confirmation-delete-cart">
        <div class="modal-delete-cart__content">
            <h1>DELETE CONFIRMATION</h1>
            <p>This action will permanently delete the item. Are you sure?</p>
            <button id="cancelDelete" class="btn-cancel-delete">Cancel</button>
            <button id="confirmDelete" class="btn-confirm-delete">Delete</button>        
        </div>
    </div>
</div>

